<%= form_for(@possible) do |f| %>
  <% if @possible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@possible.errors.count, "error") %> prohibited this possible from being saved:</h2>

      <ul>
      <% @possible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions" >
   <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter your name" %>
  </div>
  <div class="field">
    <%= f.label :email%><br>
    <%= f.text_field :email, class:'form-control', id: "exampleInputEmail1", placeholder: "Enter email"  %>
  </div>
 
  <div class="field">
    <b> Receive weekly email updates</b>
    <%= f.check_box :receive %>
  </div>
  
    <%= f.submit 'Get updates', class: 'btn btn-warning' %>
  </div>
<% end %>
