<%= form_for(@possible) do |f| %>
  <% if @possible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@possible.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @possible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions" >
  
   <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter your name" %>
  </div>
  <div class="field">
    <%= f.label :email%><br>
    <%= f.text_field :email, class:'form-control', id: "exampleInputEmail1", placeholder: "Enter email"  %>
  </div>
 
  <div class="field">
    <b> Receive weekly email updates</b>
    <p> You can choose to either receive weekly updates or only be notified when the beta test becomes availible and the software is released. </p>
    <%= f.check_box :receive %>
  </div>
  <div class="field">
  <%= f.label :humanizer_answer, @possible.humanizer_question %>
<%= f.text_field :humanizer_answer, class:'form-control' %>
<%= f.hidden_field :humanizer_question_id %>
</div>
  
    <%= f.submit 'Get updates', class: 'btn btn-warning' %>
  </div>
<% end %>
