<h1>Listing possibles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @possibles.each do |possible| %>
      <tr>
       <%= possible.email %>
        <td><%= link_to 'Show', possible %></td>
        <td><%= link_to 'Edit', edit_possible_path(possible) %></td>
        <td><%= link_to 'Destroy', possible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Possible', new_possible_path %>
