<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>PaddleSoft Info </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "cover/cover" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fav.ico' %>
  <meta name="description" content="PaddleSoft is a social networking website and river database custom built for paddlers">
  <meta name="keywords" content="Paddling,whitewater,social networking,PaddleSoft,PaddleMobile,canoe,kayak,share,ww,paddle,river,database">
  <meta name="google-site-verification" content="5ndFjU_yQibn_lcW5kNECA7FoZI6ufdk8tgjc2h-xkw" />
</head>
<body>

<%= yield %>

</body>
</html>
